<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <index_invalidation_debugger>
                <is_notification_enabled>0</is_notification_enabled>
                <opening_time>07,00,00</opening_time>
                <closing_time>23,00,00</closing_time>
            </index_invalidation_debugger>
            <cache_cleanup_debugger>
                <is_notification_enabled>0</is_notification_enabled>
                <opening_time>07,00,00</opening_time>
                <closing_time>23,00,00</closing_time>
            </cache_cleanup_debugger>
        </system>
    </default>
</config>
